@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;900&display=swap');

.navbar-config {
    height: 65px;
    background-color: black;
}

.img {
    max-width: 3vw;
    min-width: 50px;
    margin-left: 80px;
}

.active {
    color: #FEA100 !important;
}

.active:hover {
    color: white !important;
}

.nav-link {
    color: white;
    font-size: 21px;
    font-weight: 400px;
    font-family: 'Outfit',sans-serif;
}

.nav-link:hover {
    color: white;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
    font-family: 'Outfit',sans-serif;
    font-weight: 500px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: blue;
    background-color: white;
}

.dropdown-item:hover {
    color: red;
    background-color: black;
}

.dropdown-divider {
    border-top: 1px solid black;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-toggler-icon {
    background-image: url();
}

.btn-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.btn:focus {
    box-shadow: none !important;
}

.btn {
    cursor: default;
}

.img-icon {
    width: 80px;
    height: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    
}

.img-icon-login{
    width: 43px;
    height: 61px;
    margin: -14px;
    margin-right: -114px;
    cursor: pointer;
}

.img-icon-cart{
    width: 101px;
    height: 60px;
    margin: -35px;
    margin-top: -45px;
}

.img-icon-addnew{
    width: 44px;
    position: absolute;
    top: 44%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.img-icon-logout{
    width: 44px;
    position: absolute;
    top: 44%;
    transform: translate(-50%, -50%);
}

.dropdown-user {
    left: -50px;
}

@media screen and (max-width:1000px) {
    .menu-hamburguer {
        position: absolute;
        top: 60px;
        left: 40px;
        background-color: black;
        border-radius: 0.25rem;
        z-index: 1000;
    }
    
    .dropdown-divider {
        display: none;
    }

    .dropdown-menu {
        background-clip: none;
        border: none;
        border-radius: none;
    }

    .dropdown-user {
        left: -50;
    }
}

@media screen and (max-width:700px) {
    .logo {
        width: 100px;
        height: 25px;
    }
    .btn-icon {
        width: 25px;
        height: 25px;
    }
    .img-icon {
        width: 25px;
        height: 25px;
    }
    .dropdown-user {
        left: -90px;
    }
    .hide-cart{
        display: none;
    }
}

@media screen and (max-width:650px) {
    .logo {
        width: 80px;
        height: 20px;
    }
    .hide-cart{
        display: none;
    }
}

@media screen and (max-width:375px) {
    .logo {
        width: 80px;
        height: 20px;
    }
    .btn-icon {
        width: 20px;
        height: 20px;
    }
    .img-icon {
        width: 20px;
        height: 20px;
    }
    .hide-cart{
        display: none;
    }
}

@media screen and (max-width:320px) {
    .logo {
        width: 72px;
        height: 18px;
    }
    .btn-icon {
        width: 20px;
        height: 20px;
    }
    .img-icon {
        width: 20px;
        height: 20px;
    }
    .hide-cart{
        display: none;
    }
}

.hide-admin {
    display: none;
}

.hide-user {
    display: none;
}



.navbar-toggler-icon{
    background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}